<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="list-group">
        <input type="text" class="form-control" style="margin-bottom: 2rem" [(ngModel)]="filteredStatus">
        <hr>
        <button (click)="onAddServer()" class="btn btn-primary" style="margin-bottom: 2rem">
          ADD SERVER
        </button>
        <hr>
        <h3>
          App Status: {{ appStatus | async }}
        </h3>
        <li
          class="list-group-item"
          *ngFor="let server of servers ng| filter: filteredStatus: 'status' | sort"
          [ngClass]="getStatusClasses(server)">
          <span
            class="badge">
            {{ server.status | reverse}}
          </span>
          <strong>{{ server.name | shorten: 3 }}</strong> |
          {{ server.instanceType | uppercase }}
          {{ server.started |  date:'d-m-y' | lowercase  }}
        </li>
      </ul>
    </div>
  </div>
</div>
